@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);

@font-face {
	font-family: 'geared_slabregular';
	src: url('../fonts/gearedslab-webfont.eot');
	src: url('../fonts/gearedslab-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gearedslab-webfont.woff') format('woff'),
	url('../fonts/gearedslab-webfont.ttf') format('truetype'),
	url('../fonts/gearedslab-webfont.svg#geared_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'geared_slabthin';
	src: url('../fonts/gearedslab-light-webfont.eot');
	src: url('../fonts/gearedslab-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gearedslab-light-webfont.woff') format('woff'),
	url('../fonts/gearedslab-light-webfont.ttf') format('truetype'),
	url('../fonts/gearedslab-light-webfont.svg#geared_slabthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'moonshinerround';
	src: url('../fonts/moonshiner-round-webfont.eot');
	src: url('../fonts/moonshiner-round-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/moonshiner-round-webfont.woff') format('woff'),
	url('../fonts/moonshiner-round-webfont.ttf') format('truetype'),
	url('../fonts/moonshiner-round-webfont.svg#moonshinerround') format('svg');
	font-weight: normal;
	font-style: normal;
}