@import "compass";

@import "fonts";
@import "normalize";

$home-header-height:30%;
$contact-form-width: 42%;
$font-moonshine: 'moonshinerround', Impact, Arial, sans-serif;
$font-geared-slab: 'geared_slabregular', Impact, Arial, sans-serif;

@mixin open-sans-bold{
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:700;
}
@mixin open-sans-light{
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:300;
}
@mixin placeholder-style() {
	color:#fff;
}

@mixin selection-style() {
	background:rgba(38, 160, 154, .5);
	color:#fff;
}

input.placeholding{
	@include placeholder-style;
}
::-webkit-input-placeholder{
	@include placeholder-style;
}
:-moz-placeholder{
	@include placeholder-style;
}
::-moz-placeholder{
	@include placeholder-style;
}
:-ms-input-placeholder{
	@include placeholder-style;
}

::-moz-selection{
	@include selection-style;
}
::-webkit-selection{
	@include selection-style;
}
::selection{
	@include selection-style;
}

/*
http://paulirish.com/2012/box-sizing-border-box-ftw/
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html{
	height:100%;
	min-height:700px;
}
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body{
	@include transition(1s);
	position:relative;
}

.home-page{
	background:#000;
	position:relative;
}
.home-header{
	height:260px;
	position:relative;
}
#logo{
	margin:0;
	text-align:center;
	max-width:100%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-80px;
	margin-left:-82px;
}

.home-welcome{
	min-height:370px;
	background:url(../img/st-boots-background.jpg) no-repeat 50% 0;
	overflow:hidden;
	position:relative;
	h1{
		font-family:$font-moonshine;
		font-weight:normal;
		margin:0;
		text-align:center;
		color:#fff;
		font-size:2.5rem;
		line-height:4.25rem;
		span{
			display:block;
			font-size:4.5rem;
		}
	}
}


.btn-contact {
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-117.5px;
	background: url(../img/next-page.png) no-repeat;
	width:235px;
	height:123px;
	display:block;
	text-decoration:none;
	@include transition(0.2s ease-in-out);
	strong{
		display:block;
		font-family: $font-moonshine;
		text-align:center;
		background:#fff;
		color:#656b71;
		font-size:30px;
		line-height:47px;
		width:152px;
		margin:17px auto 0;
	}
	&:hover{
		bottom:15px;
		@include transition(0.2s ease-in-out);
		strong{
			background:lighten(#a55c52,40%);
		}
	}
}

.contact-page{
	background:#a55c52;
}

.contact-map{
	height:360px;
	background:url(../img/map.jpg) 50% 0 no-repeat;
	@include background-size(cover);
}
.contact-form{
	text-align:center;
	display:block;
	h2{
		color:#fff;
		font-size:60px;
		font-family: $font-moonshine;
		font-weight:normal;
		margin:0;
		padding:60px 0;
	}
	input[type=text],
	input[type=email],
	textarea{
		width:100%;
		margin-left:4px;
		border:none;
		border-bottom:1px dashed #fff;
		text-align:center;
		@include open-sans-light;
		background:none;
		padding:1em;
		color:#fff;
		&:focus{
			background:#fff;
			color: #a55c52;
			@include open-sans-bold;
		}
	}
	textarea{
		padding:1.5em 2em;
		margin-bottom:80px;
		resize:none;
	}
	input[type=submit]{
		background:#fff;
		color:#a55c52;
		border:0;
		font-family:$font-geared-slab;
		text-transform:uppercase;
		width:223px;
		height:80px;
		font-size:36px;
	}

	address{
		font-style:normal;
		font-family:$font-geared-slab;
		line-height:36px;
		font-size:24px;
		color:#fff;
		span{
			font-size:30px;
			display:block;
		}
		a{
			color:inherit;
			display:block;
			text-decoration:none;
		}
	}
}

@media only screen and (min-width: 400px) {

	.home-page{
		height:100%;
	}
	.home-header{
		height:$home-header-height;
	}
	.home-welcome{
		height:(100%-$home-header-height);
		min-height: 580px;
		h1{
			font-size:4.5rem;
			line-height:8.75rem;
			margin-top:80px;
			span{
				font-size:9rem;
			}
		}
	}

	.contact-page{
		height:100%;
		width:100%;
	}

	.contact-map{
		float:left;
		width:(100%-$contact-form-width);
		height:100%;
		min-height:1000px;
	}
	.contact-form{
		float:right;
		width:$contact-form-width;
		height:100%;
		min-height:1000px;
		display:block;
		h2{
			padding:120px 0;
		}
		input[type=text],
		input[type=email],
		textarea{
			padding:2em;
		}

	}

} // end of media query*/


@media only screen and (min-width: 1030px) {

} // end of media query*/


